= render :partial => 'sidebar'

.span9
  #content
    %h1
      %i.icon-home
      Dashboard
    %br/

    .alert.alert-info
      = notice
      %a.close{ 'data-dismiss' => 'alert', :href => "#" } &times;

    .tabbable
      = render :partial => 'tabs', :locals => { :active => params[:action] }

      - if @message
        .lead= @message
      - else
        = render :partial => 'beers/table', :locals => { :beers => @beers }
