.span3
  #sidebar
    = image_tag 'b.png'
    %h1 Sign In
    = link_to 'Forgot your password?', new_password_reset_path

.span9
  #content
    = form_tag authenticate_account_path, :class => 'well' do
      %h1
        %i.icon-signin
        Sign in to goodbre.ws
      %br/

      - if notice
        .text-error= notice
        %br/

      .control-group{ :class => @login_error ? 'error' : '' }
        .controls
          %input{ :name => 'login', :placeholder => 'email or username', :type => 'text', :value => params[:login] }
          %span.help-inline= @login_error
      .control-group{ :class => @login_error ? 'error' : '' }
        .controls
          %input{ :name => 'password', :placeholder => 'password', :type => 'password' }
          %span.help-inline

      %button.btn
        %i.icon-signin
        Sign In
