= render :partial => 'sidebar'

.span9
  #content
    = form_for current_user, :url => account_path, :html => { :class => 'well' } do |f|
      %h1
        %i.icon-cogs
        Edit Account Settings
      %br/

      .container-fluid
        .row-fluid
          .span8
            .control-group{ :class => current_user.errors[:email].any? ? 'error' : '' }
              .controls
                %input{ :name => 'user[email]', :placeholder => 'email', :type => 'text', :value => current_user.email }
                %span.help-inline= current_user.errors[:email].join(' and ')
            .control-group{ :class => current_user.errors[:current_password].any? ? 'error' : '' }
              .controls
                %input{ :name => 'user[current_password]', :placeholder => 'current password', :type => 'password' }
                %span.help-inline= current_user.errors[:current_password].join(' and ')
            .control-group{ :class => current_user.errors[:password].any? ? 'error' : '' }
              .controls
                %input{ :name => 'user[password]', :placeholder => 'new password', :type => 'password' }
                %span.help-inline= current_user.errors[:password].join(' and ')
            .control-group{ :class => current_user.errors[:password].any? ? 'error' : '' }
              .controls
                %input{ :name => 'user[password_confirmation]', :placeholder => 'confirm new password', :type => 'password' }

            %button.btn
              %i.icon-cogs
              Update

          .span4
            %p
              = gravatar_image_tag(current_user.email)
              #gravatar-button
                %a.btn{ :href => 'http://gravatar.com/', :rel => 'nofollow', :target => '_blank' }
                  %i.icon-camera-retro
                  Gravatar
