!!! HTML

%html
  %head
    %meta{:charset => 'utf-8'}
    %title goodbre.ws
    = stylesheet_link_tag    'application', :media => 'all'
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
    = analytics_init if Rails.env.production?

  %body.container-fluid
    .row-fluid
      .span12
        #header.container-fluid
          = render :partial => 'shared/header'

    #application{ :'data-pjax-container' => true }
      = ::NewRelic::Agent.browser_timing_header rescue '' if Rails.env.production?
      .row-fluid= yield
      = ::NewRelic::Agent.browser_timing_footer rescue '' if Rails.env.production?

    #footer
      = render :partial => 'shared/footer'
      = javascript_include_tag 'application'
      /[if IE]
        = javascript_include_tag 'jquery.placeholder.min'
