!!! HTML

%html
  %head
    %meta{:charset => 'utf-8'}
    %title goodbre.ws
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png'
    = analytics_init if Rails.env.production?

  %body.container-fluid
    .row-fluid
      .span12
        #header.container-fluid
          = render :partial => 'shared/header'

    #application.row-fluid{ :'data-pjax-container' => true }
      = yield

    #footer
      = render :partial => 'shared/footer'
